/* etiquetas de estructura */
header {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  background-color: #00c2cb;
  height: 100px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height:200px;
  background-color: #00c2cb;
}
/* padres */
#container1 {
    list-style: none;
    display: flex;
  } 
#logocontainer{
    margin-right: 440px;
}
#container2{
    display: flex;
    justify-content: space-around;
    align-content:stretch;
    padding-left: 80px;
    padding-right: 110px;
    height: 340px;
    margin-top: 50px;
    margin-bottom:  150px;
}
#container3{
    display: flex;
    justify-content: space-around;
    align-content:stretch;
    padding-left: 80px;
    padding-right: 110px;
    height: 340px;
    margin-top: 150px;
    margin-bottom: 50px;
}
/* deribados de los padres */ 
#container1 li {
  padding: 12px 20px;
  
}
#container1 li a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* hijos !items! */ 

#logo {
    width: 20%;
  }
#item4{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #f493ae;
  color: white;
  width: 324px;
  text-align: center;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow:10px 10px 0px #808892;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#item5{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #67c6c8 ;
  color: white;
  width: 324px;
  text-align: center;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow:10px 10px 0px #808892;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
#item6{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #5271ff ;
  color: white;
  width: 324px;
  text-align: center;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow:10px 10px 0px #808892;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#item7{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #5271ff ;
  color: white;
  width: 324px;
  text-align: center;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow:10px 10px 0px #808892;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#item8{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #f493ae;
  color: white;
  width: 324px;
  text-align: center;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow:10px 10px 0px #808892;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#item9{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #67c6c8;
  color: white;
  width: 324px;
  text-align: center;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow:10px 10px 0px #808892;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Complementarios */

footer p{
  color: white;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:lighter;
}
#stock{
  width: 100%;

}
#titulo{
  text-align: center;
  font-size: 150px;
  margin: 5px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}